@import "../colors/colors.scss";

@mixin titleStyle {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  color: $green3;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
}

@mixin textStyle {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  color: $green2;
  text-indent: 1.5em;
  text-align: justify;
}
